@font-face {
  font-family: "iconfont"; /* Project id 4205115 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1730120320539') format('woff2'),
       url('iconfont.woff?t=1730120320539') format('woff'),
       url('iconfont.ttf?t=1730120320539') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mfish-paste:before {
  content: "\e626";
}

.icon-mfish-copy:before {
  content: "\e621";
}

.icon-mfish-bottom-level:before {
  content: "\e622";
}

.icon-mfish-down-level:before {
  content: "\e623";
}

.icon-mfish-align:before {
  content: "\e624";
}

.icon-mfish-bottom-align:before {
  content: "\e625";
}

.icon-mfish-un-combine:before {
  content: "\e615";
}

.icon-mfish-horizontal-distribution:before {
  content: "\e616";
}

.icon-mfish-vertical-center:before {
  content: "\e617";
}

.icon-mfish-up-level:before {
  content: "\e618";
}

.icon-mfish-left-align:before {
  content: "\e619";
}

.icon-mfish-combine:before {
  content: "\e61a";
}

.icon-mfish-right-align:before {
  content: "\e61b";
}

.icon-mfish-vertical-distribution:before {
  content: "\e61c";
}

.icon-mfish-top-align:before {
  content: "\e61d";
}

.icon-mfish-rename:before {
  content: "\e61e";
}

.icon-mfish-top-level:before {
  content: "\e61f";
}

.icon-mfish-horizontal-center:before {
  content: "\e620";
}

.icon-mfish-all:before {
  content: "\e614";
}

.icon-mfish-expand-all:before {
  content: "\e612";
}

.icon-mfish-collapse-all:before {
  content: "\e613";
}

.icon-mfish-config:before {
  content: "\e611";
}

.icon-mfish-chart:before {
  content: "\e610";
}

.icon-mfish-layer:before {
  content: "\e60f";
}

.icon-mfish-divide:before {
  content: "\e60b";
}

.icon-mfish-subtract:before {
  content: "\e60c";
}

.icon-mfish-multiply:before {
  content: "\e60d";
}

.icon-mfish-add:before {
  content: "\e60e";
}

.icon-mfish-sum:before {
  content: "\e60a";
}

.icon-mfish-right-bracket:before {
  content: "\e608";
}

.icon-mfish-left-bracket:before {
  content: "\e609";
}

.icon-mfish-aggregate:before {
  content: "\e606";
}

.icon-mfish-full-join:before {
  content: "\e607";
}

.icon-mfish-equals:before {
  content: "\e605";
}

.icon-mfish-table:before {
  content: "\e604";
}

.icon-mfish-right-join:before {
  content: "\e600";
}

.icon-mfish-join:before {
  content: "\e601";
}

.icon-mfish-left-join:before {
  content: "\e602";
}

.icon-mfish-inner-join:before {
  content: "\e603";
}

